<h2 class="font-bold text-xl"> My Day</h2>
  <div class="text-blue-600"> {{ dateNow | date:'fullDate'}}

  </div>

  <div class="flex flex-col mt-6"  >
    <input
    type = "text"
    class="w-full h-16 px-4 py-2 rounded shadow "
    placeholder="Enter your task"
    [(ngModel)]="newTask"
    (keydown.enter)="addTask()">
  </div>

  <div class=" flex flex-col mt-6"  >
  <h2 class ="font-bold text-xl">Tasks</h2>

    @for (task of taskList; track task) {
      <p
      class="bg-white-100 w-full h-16 px-4 py-2 rounded shadow flex items-center mt-2 mb-2">{{task.title}}</p>
    }
  </div>
